*, *::before, *::after{
    font-family: 'Concert One', sans-serif;
}
.body{
    background-size:cover;
    background-color: tan;
    background-image: url("Images/mars-plex-knH05eGDEwc-unsplash.jpg");
}
.body-header{
    background: rgba(2, 133, 138, 0.329);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    margin-bottom: 2rem;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    align-items: flex-start;
}
.card-header.card-image{
    overflow: hidden;
}
.card-header.card-image >img {
    display: block;
    width: 100%;
    aspect-ratio:inherit;
}
.card{
    padding: 1rem;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.card.card-shadow{
    margin-bottom: .5rem;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .2);
}
.card-header{
font-size: 1.5rem;
margin-bottom: 1.5rem;
}
.card-body{
font-size: .9rem;
}
.card-footer{
    margin-top: 1rem;
}
.material-symbols-outlined{
color: black;
}
.material-symbols-outlined:hover, .material-symbols-outlined:focus {
    color: rgb(247, 241, 241);
}
.btn{
    --color: hsla(29, 90%, 24%, 0.356);
    background: hsla(29, 100%, 41%, 1);
    color:blue;
    border-radius: .25em;
    border: none;
    font-size: 1.1rem;
    padding: .5em .75em;
    cursor: pointer;
}
.btn:hover, .btn:focus{
    background: hsla(29, 100%, 31%, 1);
}
.btn.btn-outline{
background: none;
border: 1px solid var(--color);
color: var(--color);
}
.btn.btn-outline:hover, .btn.btn.btn-outline:focus{
    background: hsla(29, 100%, 41%, 1) ;
}